body {
    background:#0b0e13;
    font-family:Segoe UI,sans-serif;
    color:#eaeaf0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container {
    background:#121722;
    padding:30px;
    border-radius:15px;
    width:420px;
    box-shadow:0 0 40px rgba(0,0,0,.6);
}

input, textarea, button {
    width:100%;
    margin-bottom:15px;
    padding:12px;
    border-radius:8px;
    border:none;
}

input, textarea {
    background:#0e1320;
    color:#fff;
}

button {
    background:#0d6efd;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}
